#footer {
  position: fixed;
  left: 0px;
  bottom: 0px;
  height: 30px;
  width: 100%;
  background: #999;
}

#homepage {
  position: relative;
  text-align: center;
  color: white;
  color: white;
  align-items: justify;
}
#img-click homepage
{
  
}

#centered {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
}
