.homepage {
  text-align: center;
  color: white;
  background-image: url("../images/backgrounds/h_img.jpg");
  background-size: 100%;
  position: relative;
}

.services {
  text-align: center;
  color: white;
  background-image: url("../images/backgrounds/s_image.jpg");
  background-size: 100%;
  position: relative;
}

.contact-us {
  text-align: center;
  background-image: url("../images/backgrounds/c_image.jpg");
  background-size: 100%;
  position: relative;
  color: white;
}

.portfolio {
  text-align: center;
  padding-left: 7px;
  padding-right: 7px;
}

.portfolio img {
  padding: 20px;
  width: 100%;
}

.hide img {
  padding: px
}

#footer {
  position: fixed;
  left: 0px;
  bottom: 0px;
  height: 30px;
  width: 100%;
  background: #999;
}

.caption {
  display: table-caption;
  text-align: center;
  font-size: 20px;
  font-family: sans-serif;
}

#imageOne {
  position: absolute;
  left: 0;
  top: 0;
}
#textOne {
  color: white;
  position: relative;
  text-align: center;
  top: 20%;
  font-family: Arial, Verdana;
  color: white;
  font-size: 30px;
  font-weight: bold;
  border: 2px solid white;
  padding-top: 30px;
  padding-bottom: 70px;
}

#imageTwo {
  position: absolute;
  left: 0;
  top: 0;
}
#textTwo {
  color: white;
  position: relative;
  text-align: center;
  top: 20%;
  font-family: Arial, Verdana;
  color: white;
  font-size: 30px;
  font-weight: bold;
  border: 2px solid white;
  padding-top: 30px;
  padding-bottom: 70px;
}
#imageThree {
  position: absolute;
  left: 0;
  top: 0;
}
#textThree {
  color: white;
  position: relative;
  text-align: center;
  top: 20%;
  font-family: Arial, Verdana;
  color: white;
  font-size: 30px;
  font-weight: bold;
  border: 2px solid white;
  padding-top: 30px;
  padding-bottom: 70px;
}
#imageFour {
  position: absolute;
  left: 0;
  top: 0;
}
#textFour {
  color: white;
  position: relative;
  text-align: center;
  top: 20%;
  font-family: Arial, Verdana;
  color: white;
  font-size: 30px;
  font-weight: bold;
  border: 2px solid white;
  padding-top: 30px;
  padding-bottom: 70px;
}
