.homepage {
  text-align: center;
  color: white;
  background-image: url("../images/backgrounds/h_img.jpg");
  background-size: 100%;
  position: relative;
}

.services {
  text-align: center;
  color: white;
  background-image: url("../images/backgrounds/s_image.jpg");
  background-size: 100%;
  position: relative;
}

.contact-us {
  text-align: center;
  background-image: url("../images/backgrounds/c_image.jpg");
  background-size: 100%;
  position: relative;
  color: white;
}

.portfolio {
  text-align: center;
  padding-left: 7px;
  padding-right: 7px;
}

.portfolio img {
  padding: 10px;
  width: 100%;
}

#footer {
  position: fixed;
  left: 0px;
  bottom: 0px;
  height: 30px;
  width: 100%;
  background: #999;
}
